/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lucida Grande", sans-serif;
  background-color: darkgrey;
}

.title-nav {
  display: inline-block;
}
.title-nav nav {
  display: inline-flex;
}
.title-nav h1 {
  display: inline;
  padding: .84em;
  margin: 0;
  background-color: dimgrey;
  color: lightgrey;
  font-size: 2em;
  font-weight: bolder;
}

h2 {
  background-color: slategrey;
  color: darkslategrey;
  padding: 1em;
}
h3 {
  background-color: darkslategrey;
  color: lightslategrey;
  padding: 1em;
}
pre {
  font-family: "Lucida Sans Typewriter", monospace;
  background-color: #1f2f2f;
  color: greenyellow;
}
ul li {
  display: inline-flex;
  background-color: lightgrey;
  padding: 2em;
}
ul li:hover {
  background-color: whitesmoke;
}
ol li {
  background-color: #223434;
  color: antiquewhite;
  padding: 0 1em 0;
}

section#HTML pre {
  line-height: 1.5em;
  padding: 2em;
}
section#git pre,
section#JS pre,
section#DOM pre {
  display: inline-flex;
  padding: 0.75em 1.25em;
}
section#git p,
section#JS p,
section#DOM p {
  display: inline-flex;
  background-color: dimgrey;
  color: #dfefef;
  padding: 0.75em 1.25em;
}
section#git a,
section#JS a,
section#DOM a {
  display: inline-flex;
  background-color: lightgrey;
  padding: 0.75em;
}
section#git a:hover,
section#JS a:hover,
section#DOM a:hover {
  display: inline-flex;
  background-color: whitesmoke;
}
footer h6 {
  text-align: right;
  background-color: dimgrey;
  color: lightgrey;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
